* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    color: #f3f3f3;
}

.btn {
    transform: skewX(-10deg);
    border-radius: 0;
}

.btn-comprar {
    font-weight: 700;
    background-color: rgb(253, 211, 6);
    color: black;
    border-radius: 10px;
}

.btn-comprar:hover {
    background-color: rgb(253, 211, 6);
    transition: all 0.5s;
    box-shadow: 1px 1px 25px -2px rgb(253, 211, 6);
}

.btn-orador {
    font-weight: 700;
    border: 2px solid white;
    border-radius: 10px;
}

.btn-orador:hover {
    background-color: white;
    transition: .3s ease-in-out;
}

/* BODY */

.nav-link {
    font-size: 0.9rem;
}

.nav-link:hover {
    color: rgb(253, 211, 6);
}

.active {
    border-bottom: 2px solid rgb(253, 211, 6);
}

.logo {
    display: inline;
    width: 8rem;
}

.logo img {
    width: 8rem;
}

.sectionConferencia {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/ba1.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
}

.sectionConferenciaBox {
    height: 80vh;
}

.heroText {
    position: absolute;
    bottom: 2rem;
    height: 70%;
    width: 50%;
}

.heroText h1 {
    font-weight: 600;
    color: white;
}

h2 {
    text-decoration: underline rgb(253, 211, 6);
}

/* SECCION CARDS */

.card {
    border-radius: 0;
    overflow: hidden;
    background-color: #fff;
    border: 0;
}

.card img {
    border-radius: 0;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.card img:hover {
    transform: scale(1.04);
}

.badge {
    border: 1px solid black;
}

/* SECCION UBICACION */

.ubicacion .row {
    --bs-gutter-x: 0rem;
}

/* SECCION FORM */

.p-form {
    font-weight: 600;
    text-decoration: underline rgb(253, 211, 6);
}

/* FOOTER */

.copy p {
    font-size: 0.9rem;
    color: #fff;
}

/* MEDIAQUERIES XL */

@media (max-width: ≥1400px){
    .heroText {
        width: 75%;
    }
}

/* MEDIAQUERIES MD */

@media (max-width: 768px){

    .heroText {
        bottom: 6rem;
        width: 75%;
    }

}

/* MEDIAQUERIES SM */

@media (max-width: 576px)  { 

    iframe {
        height: 35%;
    }

    
    footer ul li {
        margin-bottom: 2rem;
    }

    .copy p {
        display: none;
    }
}